

div.wrapper>div.sugg-photo>div>div.text{
    width: 100%;
    height: fit-content;
   
    text-align: center;
    
    padding-top: 14px;
    padding-bottom: 35px;
  }
  
  div.wrapper>div.sugg-photo>div>div.text>a:nth-last-of-type(2){
    color: black;
    font-size: 18px;
    
  }
  div.wrapper>div.sugg-photo>div>div.text>a{
    color: rgba(0, 81, 255, 0.568);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-top: 9px;
    display: inline-block;
  
  
    font-weight: 650;
  }
  div.wrapper>div.sugg-photo>div>div.text>p{
    color: #3d4240;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
  
    padding-top: 4px;
    <a href="">hghjg</a> <br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br><a href="">hghjg</a><br>
   
  
  
  }

 
